.navbar {
  width: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 10px 5%;
}

.toggle-icon {
  width: 5vw;
  height: 5vh;
  cursor: pointer;
}
ul{
    flex: 1;
    list-style: none;
    text-align: center;
}
li{
    display: inline-block;
    margin: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}