@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "bootstrap/dist/css/bootstrap.min.css";

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: white;
  border-radius: 9999px;
}
